/*******************************************************************************************************************

	Theme Name: Mainzan 
	Theme URI: http://www.organicthemes.com/theme/purpose-theme/
	Description: A theme adapted from a theme for business with a purpose.
	Author: Yameen Mohaned
	Author URI: mailto://yaamynu@gmail.com
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Version: Organic Purpose
	Text Domain: organic-purpose
	Domain Path: /languages/
	Tags: photoblogging, light, gray, white, one-column, two-columns, three-columns, right-sidebar, fluid-layout, custom-background, custom-header, custom-menu, featured-images, featured-image-header, flexible-header, full-width-template, theme-options, translation-ready, sticky-post, post-formats, featured-images

	The CSS, XHTML and Design are released under the GPL:
	http://www.opensource.org/licenses/gpl-license.php

********************************************************************************************************************

	Table of Contents:

	 0.	Global
	 1.	Hyperlinks
	 2.	Headings
	 3.	Header
	 4.	Navigation
	 5.	Slideshow
	 6.	Homepage
	 7.	Content
	 8. Post Formats
	 9. Social Media
	10. Pagination
	11.	Images
	12. Portfolio
	13.	Wordpress Gallery
	14.	Sidebar
	15.	Widgets
	16.	RSS Widget
	17.	Calendar Widget
	18.	Custom Menu Widget
	19.	Search Form
	20.	Footer
	21.	Comments
	22.	Buttons
	23. Tables
	24. Forms
	25. CSS3 Styles
	26. WooCommerce
	27. WordPress Core
	28. Grid

*******************************************************************************************************************/

body {
	background-color: #ffffff;
	color: #666666;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1em;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.8;
	margin: 0px;
	padding: 0px;
	}
ul.slides li div.information.vertical-center {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: calc(100% - 40px);
}

/************************************************
*	0.	Global									*
************************************************/

p {
	padding: 12px 0px;
	margin: 0px;
	}
p:empty {
	display: none;
	}
em {
	font-style: italic;
	}
strong {
	font-weight: bold;
	}
hr {
	border: 0;
	width: 100%;
	height: 1px;
	color: #DDDDDD;
	background-color: #DDDDDD;
	margin: 6px 0px 8px 0px;
	padding: 0px;
	}
ol, ul {
	list-style: none;
	margin: 6px 0px;
	padding: 0px 0px 0px 12px;
	}
ol li {
	list-style: inside;
	list-style-type: decimal;
	margin: 6px 0px;
	padding: 0px 0px 0px 12px;
	}
ul li {
    list-style: inside;
    list-style-type: square;
    margin: 6px 0px;
	padding: 0px 0px 0px 12px;
	}
ul ol li, ul ol ul ol li {
    list-style-type: decimal;
	}
ol ul li, ol ul ol ul li {
    list-style-type: square;
	}
blockquote {
	color: #333333;
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Droid Serif', Georgia, Times, serif;
	font-weight: 300;
	font-size: 1.6em;
	line-height: 1.6;
	margin: 20px 0px;
	padding: 20px;
	border-top: 1px solid #DDDDDD;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid #DDDDDD;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
blockquote p {
	margin: 0px;
	padding: 0px;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
code, pre {
	background: #F9F9F9;
	font-family: Courier, Verdana, Tahoma, Verdana;
	font-size: 13px;
	line-height: 1.4;
	margin: 12px 0px;
	padding: 6px 8px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	}
code {
	display: inline;
	white-space: normal;
	}
pre {
	display: block;
	}
pre code {
	padding: 0px;
	border: none;
	border-radius: 0px;
	}
img {
	-ms-interpolation-mode: bicubic;
	height: auto;
	}
img, object, embed {
	max-width: 100%;
	margin: 0px auto 0px;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
.clear {
	clear: both;
	}
.hidden {
	display: none;
	}
.text-left {
	text-align: left;
	}
.text-right {
	text-align: right;
	}
.text-center {
	text-align: center;
	}
.text-hide,
.container .headline.text-hide {
	font-size: 0;
	line-height: 0;
	margin-left: -999em;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	}
.align-center {
	float: none;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}
.align-left {
	float: left;
	}
.align-right {
	float: right;
	}
.vertical-center {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}

/************************************************
*	1.	Hyperlinks								*
************************************************/

a img {
	border: none;
	}
a, a:link, a:visited {
	color: #99cc33;
	text-decoration: none;
	}
a:focus, a:hover, a:active {
	color: #669900;
	text-decoration: underline;
	}

/************************************************
*	2.	Headings  								*
************************************************/

h1, h2, h3,
h4, h5, h6 {
	color: #333333;
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	}
h1 {
	font-size: 3em;
	letter-spacing: -0.8px;
	margin: 4px 0px;
	padding: 4px 0px;
	}
h2 {
	font-size: 2.4em;
	letter-spacing: -0.6px;
	margin: 4px 0px ;
	padding: 4px 0px;
	}
h3 {
	font-size: 2em;
	letter-spacing: -0.4px;
	margin: 4px 0px;
	padding: 4px 0px;
	}
h4 {
	font-size: 1.6em;
	margin: 4px 0px;
	padding: 4px 0px;
	}
h5 {
	font-size: 1.4em;
	margin: 4px 0px;
	padding: 4px 0px;
	}
h6 {
	font-size: 1.1em;
	letter-spacing: 0.2px;
	margin: 6px 0px 4px 0px;
	padding: 6px 0px 12px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: #333333;
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	border: none;
	}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
	color: #669900;
	text-decoration: none;
	border: none;
	}
.headline {
	font-size: 3.4em;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -1px;
	margin: 0px;
	padding: 0px 0px 12px 0px;
	}
.headline.img-headline {
	color: #ffffff;
	position: absolute;
	top: 50%;
	width: 88%;
	font-size: 4em;
	text-align: center;
	letter-spacing: -2px;
	padding: 0px 6%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
.headline.small {
	font-size: 2.4em;
	font-weight: 400;
	}
.title {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.6;
	text-transform: uppercase;
	margin: 0px;
	padding: 6px 0px;
	}

/************************************************
*	3.	Header  								*
************************************************/

#header {
	position: fixed;
	width: 100%;
	line-height: 0;
	margin: 0px;
	z-index: 99;
	}
#header.header-large {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.40)),to(rgba(0, 0, 0, 0.00)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.00));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.00));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.00));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.00));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.00));
	}
#header.header-small,
#header.text-dark {
	background-image: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
#header .header-bg {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
	top: 0;
	}
#header #logo-title {
	position: absolute;
	width: 100%;
	}
#header #logo {
	float: left;
	display: block;
	position: absolute;
	width: 16%;
	margin-left: 4%;
	z-index: 9;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
#header #logo img {
	max-height: 60px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
#header #masthead {
	float: left;
	position: relative;
	width: 100%;
	margin: 0px 0px 0px 20%;
	padding: 0px;
	z-index: 9;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}
#header #masthead.no-logo {
	width: 100%;
	margin: 0px;
	}
#header #masthead.no-logo .site-title {
	padding-left: 36px;
	}
#header .site-title {
	display: block;
	position: relative;
	font-size: 1.8em;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 1.1;
	margin: -2px 0px 0px 2px;
	padding: 0px;
	}
#header .site-title a {
	text-decoration: none;
	}
#header #logo,
#header #logo-title,
#header .menu a,
#header .menu a:link,
#header .menu a:visited {
	transition: all .25s;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	}
#header.header-large #logo-title {
	height: 140px;
	}
#header.header-small #logo-title {
	height: 60px;
	}
#header.header-large .menu a {
	line-height: 140px;
	}
#header.header-small .menu a {
	line-height: 60px;
	}
#header.header-large .site-title a,
#header.header-large .menu a,
#header.header-large .menu a:link,
#header.header-large .menu a:visited,
#header.header-large .menu-toggle,
#header.header-large .menu-toggle:before {
	color: #cccccc;
	color: rgba(255, 255, 255, 0.8);
	}
#header.header-small .site-title a,
#header.header-small .menu a,
#header.header-small .menu a:link,
#header.header-small .menu a:visited,
#header.header-small .menu-toggle,
#header.header-small .menu-toggle:before {
	color: #333333;
	color: rgba(0, 0, 0, 0.8);
	}
#header.text-dark .site-title a,
#header.text-dark .menu a,
#header.text-dark .menu a:link,
#header.text-dark .menu a:visited,
#header.text-dark .menu-toggle,
#header.text-dark .menu-toggle:before {
	color: #333333;
	color: rgba(0, 0, 0, 0.8);
	}

/************************************************
*	4.	Navigation 								*
************************************************/

#navigation {
	float: right;
	display: inline-block;
	color: #ffffff;
	position: relative;
	font-size: 0.9em;
	font-family: 'Montserrat';
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px 36px 0px 0px;
	z-index: 99;
	}
.menu-toggle {
	display: none;
	cursor: pointer;
	}
.main-small-navigation ul.mobile-menu {
	display: none;
	}

/*** ESSENTIAL STYLES ***/
.menu, .menu * {
	margin:	0;
	padding: 0;
	list-style:	none;
	}
.menu {
	line-height: 1.0;
	}
.menu ul {
	margin: 0px;
	padding: 0px;
	}
.menu ul ul, ul.menu ul {
	position: absolute;
	top: -9999px;
	width: 180px; /* left offset of submenus need to match (see below) */
	}
ul.menu ul, ul.sub-menu {
	left: 50%;
	margin-left: -90px;
	}
.menu ul ul ul, ul.menu ul ul {
	margin: 0px;
	}
.menu ul li ul li, ul.menu ul li {
	width: 100%;
	margin: 0px;
	}
.menu li:hover {
	visibility:	inherit; /* fixes IE7 'sticky bug' */
	}
.menu li {
	display: inline-block;
	position: relative;
	}
.menu li li {
	display: block;
	position: relative;
	}
.menu a {
	display: inline-block;
	position: relative;
	}
.menu li:hover ul,
.menu li.sfHover ul {
	top: auto; /* match top ul list item height */
	margin-top: 0px;
	z-index: 99;
	}
.header-large .menu li:hover ul,
.header-large .menu li.sfHover ul {
	margin-top: -40px;
	}
.header-large .menu li:hover ul ul,
.header-large .menu li.sfHover ul ul {
	margin-top: 0px;
	}
ul.menu li:hover li ul,
ul.menu li.sfHover li ul {
	top: -9999px;
	}
ul.menu li li:hover ul,
ul.menu li li.sfHover ul {
	left: 180px; /* match ul width */
	top: 0;
	}
ul.menu li li:hover li ul,
ul.menu li li.sfHover li ul {
	top: -9999px;
	}
ul.menu li li li:hover ul,
ul.menu li li li.sfHover ul {
	left: 180px; /* match ul width */
	top: 0;
	}

/*** SKIN ***/
.menu {
	margin-bottom: 0;
	}
.menu ul.sub-menu,
.menu ul.children {
	background-color: #f9f9f9;
	border-radius: 3px;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, .12);
	}
.menu a {
	background: none;
	line-height: 140px;
	text-decoration: none;
	letter-spacing: 0.1px;
	margin: 0px;
	padding: 0px 8px;
	}
.menu a:focus,
.menu a:hover,
.menu a:active {
	outline: 0;
	}
.menu li li a {
	display: block;
	background: none;
	font-size: 0.9em;
	text-transform: none;
	line-height: 40px !important;
	margin: 0px;
	padding: 0px 12px;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	}
.menu li li:nth-child(2) a {
	border-top: none !important;
	}
#wrap .menu li li a,
#wrap .menu li li a:link,
#wrap .menu li li a:visited {
	color: #999999 !important;
	color: rgba(0, 0, 0, 0.4) !important;
	}
.menu li li a:focus,
.menu li li a:hover,
.menu li li a:active {
	background: rgba(0, 0, 0, 0.04);
	outline: 0;
	}
#wrap .menu li li a:focus,
#wrap .menu li li a:hover,
#wrap .menu li li a:active {
	color: #333333 !important;
	color: rgba(0, 0, 0, 0.8) !important;
	}
.menu li li a:hover {
	color: #333333;
	color: rgba(0, 0, 0, 0.8);
	}
.menu li.sfHover:hover {
	outline: 0;
	}
.menu li {
	margin: 0px;
	}
.menu li li {
	background: none;
	text-align: center;
	margin: 0px;
	}
.menu .nav-arrow {
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -3px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #f9f9f9;
	z-index: 9;
	}
.menu ul.children ul.children .nav-arrow,
.menu ul.sub-menu ul.sub-menu .nav-arrow {
	display: none;
	}

/*** ARROWS **/
.sf-arrows .sf-with-ul {
	padding-right: 14px;
	}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 4px;
	margin-top: -1px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 3px solid transparent;
	border-top-color: rgba(0, 0, 0, 0.4); /* edit this to suit design (no rgba in IE8) */
	}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: rgba(0, 0, 0, 0.4); /* IE8 fallback colour */
	}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -3px;
	margin-right: 0px;
	border-color: transparent;
	border-left-color: rgba(0, 0, 0, 0.4); /* edit this to suit design (no rgba in IE8) */
	}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: rgba(0, 0, 0, 0.4);
	}

/************************************************
*	5. Slideshow							    *
************************************************/

.home-slider .slideshow .slides li {
	height: 100vh;
	position: inherit;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	}
.page-template .slideshow .slides li,
.single-post .slideshow .slides li {
	min-height: 320px;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.page-template .slideshow .slides li img,
.single-post .slideshow .slides li img {
	margin-left: -9999px;
	}
.home-slider .slideshow .loading {
	height: 100vh;
	}
.slideshow {
	display: block;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	}
.slideshow ul,
.slideshow li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
.slideshow .information {
	position: absolute;
	width: 100%;
	margin-top: 48px;
	}
.slideshow .headline {
	font-size: 3.6em;
	letter-spacing: -2px;
	line-height: 1;
	margin: 0px;
	padding-bottom: 12px;
	}
.slideshow .headline.small {
	font-size: 3em;
	}
.slideshow .headline a {
	color: #ffffff !important;
	}
.slideshow .feature-img,
.slideshow .feature-vid {
	margin: 0px;
	padding: 0px;
	}
.slideshow .more-link {
	margin: 0px;
	}
.slideshow .excerpt .more-link {
	margin-top: 24px;
	}
.slideshow .read-more {
	display: none;
	}
.slideshow .loading {
	background: #a5c1c4;
	min-height: 520px;
	}
.slideshow .preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.6);
	border-left: 3px solid rgba(255, 255, 255, 0.6);
	border-right: 3px solid rgba(255, 255, 255, 0.2);
	border-top: 3px solid rgba(255, 255, 255, 0.2);
	border-radius: 100%;
	height: 32px;
	width: 32px;
	-webkit-animation: spin .6s infinite linear;
	-moz-animation: spin .6s infinite linear;
	-ms-animation: spin .6s infinite linear;
	-o-animation: spin .6s infinite linear;
	animation: spin .6s infinite linear;
	z-index: 999;
	}
.flexslider {
	background: #a5c1c4;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
.flexslider .slides {
	position: relative;
	overflow: hidden;
	zoom: 1;
	}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	}
.flexslider .slides img {
	display: block;
	}
.flex-pauseplay span {
	text-transform: capitalize;
	}

/* Clearfix for the .slides element */
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}
html[xmlns] .slides {
	display: block;
	}
* html .slides {
	height: 1%;
	}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {
	display: none;
	}

/* Caption style */
.flex-caption {
	background: none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1;
	}
.flex-caption {
	background: rgba(0,0,0,.3);
	color: #FFFFFF;
	width: 96%;
	padding: 2%;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	}

/* Direction Nav */
.flex-direction-nav {
	height: 0;
	}
.flex-direction-nav li a {
	display: block;
	font-size: 24px;
	line-height: 46px;
	height: 48px;
	width: 48px;
	text-decoration: none !important;
	margin: 24px 0px 0px 0px;
	opacity: 1;
	position: absolute;
	top: 50%;
	cursor: pointer;
	overflow: visible;
	z-index: 9;
	border: 2px solid #999999;
	border: 2px solid rgba(255, 255, 255, 0.4);
	transition: all .25s;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	}
.gallery-slideshow .flex-direction-nav li a {
	margin-top: -24px;
	}
.flex-direction-nav li a:hover {
	border: 2px solid #ffffff;
	}
.flex-direction-nav .flex-next {
	right: 24px;
	text-align: center;
	border-radius: 48px;
	}
.flex-direction-nav .flex-prev {
	left: 24px;
	text-align: center;
	border-radius: 48px;
	}
.flex-direction-nav .flex-next i,
.flex-direction-nav .flex-prev i {
	color: #999999;
	color: rgba(255, 255, 255, 0.4);
	}
.flex-direction-nav .flex-next i {
	margin-left: 3px;
	}
.flex-direction-nav .flex-prev i {
	margin-right: 3px;
	}
.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover {
	text-decoration: none !important;
	}
.flex-direction-nav .flex-prev:hover i,
.flex-direction-nav .flex-next:hover i {
	color: #FFFFFF;
	}
.flex-direction-nav a.flex-disabled {
	opacity: 0 !important;
	}

/* Control Nav */
.flex-control-nav {
	position: absolute;
	right: 18px;
	bottom: 0px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	z-index: 9;
	}
.flex-control-nav li {
	display: inline-block;
	margin: 0px;
	padding: 4px !important;
	zoom: 1;
	*display: inline;
	}
.flex-control-nav li:first-child {
	margin: 0;
	}
.flex-control-nav li a {
	width: 4px;
	height: 4px;
	display: block;
	cursor: pointer;
	text-indent: -999em;
	border-radius: 3px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	}
.flex-control-nav li a:hover {
	background: rgba(255, 255, 255, 0.2);
	}
.flex-control-nav li a.flex-active {
	background: rgba(255, 255, 255, 0.6);
	cursor: default;
	border: 2px solid rgba(255, 255, 255, 0);
	}

/************************************************
*	6.	Homepage 					     	    *
************************************************/

.featured-pages {
	position: relative;
	overflow: hidden;
	}
.featured-pages .row {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	}
.featured-pages .holder {
	position: relative;
	padding: 64px 0px;
	overflow: hidden;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.featured-pages .read-more {
	display: none;
	}
.featured-posts .row {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	}
.featured-posts-wrap {
	margin-top: 24px;
	margin-left: -18px;
	padding-bottom: 64px;
	width: calc(100% + 36px);
	width: -webkit-calc(100% + 36px);
	width: -moz-calc(100% + 36px);
	overflow: hidden;
	}
.featured-posts .third:nth-child(3n+1) {
	clear: both;
	}
.featured-posts .holder {
	padding: 18px;
	}
.featured-posts .headline {
	padding-top: 64px;
	}
.featured-posts .excerpt {
	font-size: 0.9em;
	line-height: 1.7;
	}

/************************************************
*	7.	Content 					     	    *
************************************************/

.content {
	max-width: 1180px;
	margin: 0px auto 0px;
	padding: 0px 96px;
	position: relative;
	}
.content.no-thumb, .no-thumb {
	padding-top: 140px;
	}
.article {
	display: block;
	}
.blog-holder,
.archive-holder {
	background: #f9f9f9;
	position: relative;
	margin-bottom: 48px;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
	}
.blog-holder .article,
.archive-holder .article {
	padding: 24px 36px;
	}
.postarea {
	padding: 64px 24px 64px 0px;
	}
.postarea.right {
	padding: 64px 0px 64px 24px;
	}
.postarea.full {
	max-width: 780px;
	margin: 0px auto 0px;
	padding: 64px 0px;
	}
.postarea.wide {
	padding: 64px 0px;
	}
.postarea.middle {
	padding: 64px 24px;
	}
.post-meta {
	display: block;
	color: #999999;
	font-size: 0.8em;
	margin: 12px 0px;
	padding: 12px 0px 0px 0px;
	border-top: 2px solid rgba(0, 0, 0, 0.08);
	overflow: hidden;
	}
.post-meta p {
	margin: 0px;
	padding: 0px;
	}
.post-meta .align-left,
.post-meta .align-right {
	max-width: 50%;
	}
.blog-holder .post-meta,
.archive-holder .post-meta {
	padding: 12px 24px;
	margin: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	}
.post-edit-link {
	display: inline-block;
	margin: 12px 0px;
	}
.author-column {
	float: right;
	width: 72%;
	margin-top: 20px;
	padding-left: 4%;
	border-left: 1px solid rgba(0, 0, 0, 0.08);
	}
.author-posts {
	margin: 0px 0px 12px 0px;
	padding: 0px;
	}
.author-posts li {
	margin: 0px;
	padding: 6px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
.archive-column {
	float: left;
	font-size: 0.9em;
	width: 30%;
	margin: 0px;
	padding-right: 5%;
	}
.archive-column.last {
	padding-right: 0;
	}
.wp-audio-shortcode {
	margin: 12px 0px;
	}
.text-white h1, .text-white h2, .text-white h3,
.text-white h4, .text-white h5, .text-white h6 {
	color: #ffffff;
	color: rgba(255, 255, 255, 1);
	}
.text-white p, .text-white blockquote, .text-white {
	color: #ffffff;
	color: rgba(255, 255, 255, 0.8);
	}
.sticky {
	display: block;
	position: relative;
	}
.bypostauthor {
	display: block;
	position: relative;
	}

/************************************************
*	8.	Post Formats   							*
************************************************/

.blog-holder .headline.img-headline a,
.slideshow .headline a {
	color: #ffffff !important;
	text-decoration: none !important;
	}
.blog-holder .format-video .feature-vid {
	margin: 0px;
	}
.blog-holder .format-image {
	position: relative;
	}
.blog-holder .format-image .feature-img {
	position: relative;
	margin: 0px;
	z-index: 6;
	}
.blog-holder .format-image .caption {
	display: block;
	background: rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
	width: 100%;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0;
	position: absolute;
	bottom: 0;
	margin: 0px;
	padding: 12px 0px;
	z-index: 9;
	}
.blog-holder .format-image .caption span {
	padding: 0px 18px;
	}
.blog-holder .format-status {
	border-radius: 3px;
	}
.blog-holder .format-status .article {
	font-size: 1.2em;
	line-height: 1.6;
	padding: 24px 36px;
	}
.blog-holder .format-quote .article {
	background: #f9f9f9;
	padding: 36px;
	margin: 0px;
	border-radius: 3px;
	}
.blog-holder .format-quote .quote-text {
	color: #666666;
	font-family: 'Droid Serif';
	font-style: italic;
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1.6;
	padding: 0px;
	}
.blog-holder .format-quote .quote-author {
	display: block;
	color: #999999;
	font-size: 0.9em;
	font-style: italic;
	padding: 12px 0px 0px 0px;
	}
.blog-holder .format-quote .quote-author:before,
.slideshow .format-quote .quote-author:before {
	content: '— ';
	}
.slideshow .format-video .feature-vid {
	background: #ffffff;
	margin: 0px 48px 0px 0px;
	padding: 12px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
	}
.slideshow .format-video .text-holder p {
	line-height: 1.6;
	}
.slideshow .format-status .content {
	max-width: 720px;
	}
.slideshow .format-status .text-holder {
	background: #ffffff;
	font-size: 0.9em;
	padding: 24px 36px;
	border-radius: 12px;
	}
.slideshow .format-status .excerpt > p:first-of-type img,
.slideshow .format-status .excerpt > h1:first-of-type img,
.slideshow .format-status .excerpt > h2:first-of-type img,
.slideshow .format-status .excerpt > h3:first-of-type img,
.slideshow .format-status .excerpt > h4:first-of-type img,
.slideshow .format-status .excerpt > h5:first-of-type img,
.slideshow .format-status .excerpt > h6:first-of-type img,
.slideshow .format-status .excerpt > img:first-of-type {
	max-height: 120px;
	max-width: 120px;
	margin-top: -88px;
	margin-bottom: 12px;
	border: 12px solid #ffffff;
	border-radius: 50%;
	overflow: hidden;
	}
.slideshow .format-quote .text-holder {
	padding: 72px;
	margin: 0px;
	}
.slideshow .format-quote .excerpt {
	color: #ffffff;
	font-family: 'Droid Serif';
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.5;
	}
.slideshow .format-quote .quote-author {
	color: rgba(255, 255, 255, 0.4);
	font-family: 'Droid Serif';
	font-size: 0.9em;
	font-style: italic;
	padding: 12px 0px 0px 0px;
	}
.slideshow .format-audio .mejs-container,
.slideshow .format-audio .mejs-embed,
.slideshow .format-audio .mejs-embed body,
.slideshow .format-audio .mejs-container .mejs-controls {
	background: none;
	}
.slideshow .format-audio .mejs-container {
	max-width: 480px;
	margin: 24px auto 24px;
	}
.slideshow .format-audio .mejs-inner {
	padding: 12px 24px;
	border: 2px solid #ffffff;
	border-radius: 48px;
	}
.slideshow .format-audio .mejs-container .mejs-controls .mejs-playpause-button {
	margin-left: 6px;
	}
.slideshow .format-audio .mejs-controls .mejs-playpause-button button {
	margin: 5px;
	}
.slideshow .format-audio .mejs-controls div.mejs-time-rail {
	padding-top: 2px;
	}
.slideshow .format-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	background: none;
	border: 2px solid #ffffff;
	}
.slideshow .format-audio .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: rgba(255, 255, 255, 0.2);
	}
.slideshow .format-audio .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #ffffff;
	border-radius: 0px;
	}
.slideshow .format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: rgba(255, 255, 255, 0.4);
	}
.slideshow .format-audio .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #ffffff;
	}
i.format-icon {
	position: absolute;
	top: 0px;
	left: 50%;
	background: #f9f9f9;
	color: #999999;
	font-size: 18px;
	line-height: 48px;
	text-align: center;
	min-height: 48px;
	min-width: 48px;
	padding: 0px;
	margin-top: -24px;
	margin-left: -24px;
	border-radius: 24px;
	z-index: 9;
	}
i.format-icon.fa-play {
	text-indent: 4px;
	}

/************************************************
*	9.	Social Media   							*
************************************************/

.social-icons {
	list-style: none;
	margin: 0px;
	padding: 6px 0px 0px 0px;
	}
.social-icons li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
.social-icons li a {
	display: block;
	background: #eeeeee;
	color: #999999;
	text-align: center;
	text-decoration: none;
	line-height: 32px;
	min-width: 32px;
	margin: 2px;
	padding: 0px;
	border-radius: 16px;
	}
.social-icons li a:hover {
	background: #cccccc;
	color: #ffffff;
	}
.social-icons li a::before {
	font-family: 'FontAwesome';
	font-size: 16px;
	font-weight: normal;
	content: '\f0c1';
}
.social-icons li a span {
	display: none;
}
.social-icons li a[href*="facebook.com"]::before		{ content: '\f09a'; }
.social-icons li a[href*="twitter.com"]::before 		{ content: '\f099'; }
.social-icons li a[href*="plus.google.com"]::before 	{ content: '\f0d5'; }
.social-icons li a[href*="linkedin.com"]::before	 	{ content: '\f0e1'; }
.social-icons li a[href*="github.com"]::before		 	{ content: '\f113'; }
.social-icons li a[href*="dribbble.com"]::before		{ content: '\f17d'; }
.social-icons li a[href*="foursquare.com"]::before		{ content: '\f180'; }
.social-icons li a[href*="pinterest.com"]::before		{ content: '\f0d2'; }
.social-icons li a[href*="wordpress.com"]::before		{ content: '\f19a'; }
.social-icons li a[href*="youtube.com"]::before			{ content: '\f16a'; }
.social-icons li a[href*="vine.co"]::before				{ content: '\f1ca'; }
.social-icons li a[href*="instagram.com"]::before		{ content: '\f16d'; }
.social-icons li a[href*="stackexchange.com"]::before	{ content: '\f18d'; }
.social-icons li a[href*="spotify.com"]::before			{ content: '\f1bc'; }
.social-icons li a[href*="amazon.com"]::before			{ content: '\f270'; }
.social-icons li a[href*="flickr.com"]::before			{ content: '\f16e'; }
.social-icons li a[href*="vimeo.com"]::before			{ content: '\f27d'; }
.social-icons li a[href*="yelp.com"]::before			{ content: '\f1e9'; }
.social-icons li a[href*="mailto:"]::before				{ content: '\f0e0'; }
.social-icons li a[href$="/feed/"]::before				{ content: '\f09e'; }

/************************************************
*	10.	Pagination 	  		      		     	*
************************************************/

.pagination {
	float: left;
	display: block;
	width: 100%;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	margin: 0px;
	padding: 12px 0px;
	position: relative;
	z-index: 9;
	}
.pagination .page-numbers {
	display: inline-block;
	background: #F9F9F9;
	color: #666666;
	min-height: 24px;
	min-width: 24px;
	text-decoration: none;
	margin: 0px 2px;
	padding: 0px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2);
	}
.pagination .page-numbers:hover,
.pagination .page-numbers:active {
	background: #EEEEEE;
	min-height: 24px;
	min-width: 24px;
	line-height: 24px;
	padding: 0px;
	border-radius: 2px;
	}
.pagination .page-numbers.current {
	display: inline-block;
	background: #EEEEEE;
	min-height: 24px;
	min-width: 24px;
	line-height: 24px;
	padding: 0px;
	border-radius: 2px;
	}
.post-navigation {
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
.previous-post {
	float: left;
	font-size: 0.9em;
	}
.next-post {
	float: right;
	font-size: 0.9em;
	}
.page-links {
	display: block;
	overflow: hidden;
	margin: 12px 0px;
	}
.page-links .link-label {
	color: #000000;
	font-weight: bold;
	margin-left: 0px;
	}
.page-links span {
	margin: 0px 3px;
	}

/************************************************
*	11.	Images  				     		    *
************************************************/

.feature-img,
.feature-vid {
	display: block;
	text-align: center;
	line-height: 0;
	margin: 12px auto 24px;
	overflow: hidden;
	}
.feature-img.page-banner {
	width: 100%;
	min-height: 240px;
	max-height: 600px;
	position: relative;
	line-height: 0;
	margin: 0px;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.page-banner img {
	margin-left: -9999px;
	}
.blog-holder .feature-vid,
.archive-holder .feature-vid,
.blog-holder .feature-img,
.archive-holder .feature-img {
	margin: 0px;
	}
.avatar {
	background: #FFFFFF;
	margin: 10px 20px 10px 0px;
	padding: 6px;
	}
.author-avatar {
	float: left;
	display: block;
	width: 20%;
	margin-top: 20px;
	padding-right: 3.6%;
	}
.author-avatar .avatar {
	display: block;
	margin: 0px;
	padding: 0px;
	border: none;
	}
img.aligncenter {
	display: block;
	margin: 6px auto 6px;
	padding: 0px;
	}
img.alignnone {
	padding: 0px;
	margin: 6px 0px;
	display: inline;
	}
img.alignright {
	padding: 0px;
	margin: 12px 0px 12px 24px;
	display: inline;
	}
img.alignleft {
	display: inline;
	padding: 0px;
	margin: 12px 24px 12px 0px;
	}
.aligncenter {
	display: block;
	margin: 6px auto 6px;
	}
.alignright {
	float: right;
	margin: 6px 0px 6px 24px;
	}
.alignleft {
	float: left;
	margin: 6px 24px 6px 0px;
	}
.wp-caption {
	background: #eeeeee;
	max-width: 100%;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 8px 6px;
	border-radius: 3px;
	}
.wp-caption img {
	max-width: 100%;
	margin: 0px auto 0px;
	padding: 0px;
	}
.wp-caption p.wp-caption-text {
	display: inline;
	font-size: 0.85em;
	line-height: 1.6;
	margin: 0px;
	padding: 0px;
	}

/************************************************
*	12.	Portfolio 								*
************************************************/

.portfolio-wrap {
	margin-left: -12px;
	width: calc(100% + 24px);
	width: -webkit-calc(100% + 24px);
	width: -moz-calc(100% + 24px);
	}
#portfolio-filter {
	background: #ffffff;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
#portfolio-filter li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
#portfolio-filter li a {
	display: inline-block;
	color: #999999;
	font-size: .9em;
	font-family: 'Open Sans';
	text-decoration: none;
	margin: 0px;
	padding: 12px;
	}
#portfolio-filter li a:hover,
#portfolio-filter li a:focus,
#portfolio-filter li a:active {
	background: rgba(0, 0, 0, 0.04);
	color: #000000 !important;
	}
#portfolio-filter li:last-child a {
	margin-right: 0px;
	}
#portfolio-list {
	margin: 0px;
	padding: 0px;
	}
.portfolio {
	background: #FFFFFF;
	}
.portfolio .portfolio-item {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
.portfolio .post-holder {
	background: #F9F9F9;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
	}
.portfolio-item.single .post-holder {
	margin: 12px;
	}
.portfolio-half .post-holder,
.portfolio-third .post-holder {
	margin: 12px;
	padding: 0px;
	}
.portfolio-item .feature-img,
.portfolio-item .feature-vid {
	margin: 0px;
	}
.portfolio .excerpt {
	padding: 24px 36px;
	}
.portfolio-half .excerpt,
.portfolio-third .excerpt {
	display: block;
	padding: 12px 24px;
	}
.portfolio-half .portfolio-item,
.portfolio-third .portfolio-item {
	float: left;
	}
.portfolio-item.single .excerpt {
	background: #F9F9F9;
	padding: 36px;
	}
.portfolio-item.single .more-link {
	margin-bottom: 0px;
	}

/*---------- Isotope Animations ----------*/
.isotope,
.isotope .isotope-item {
  	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
	}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
	}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
	}

/************************************************
*	13.	WordPress Gallery					    *
************************************************/

.gallery-caption {
	font-size: 0.8em;
	padding: 0px 10px;
	}
.gallery {
	margin: 0px auto 0px;
	padding: 0px;
	overflow: hidden;
	}
.gallery-item {
	margin: 0px
	}
.gallery-icon {
	line-height: 0;
	margin: 6px;
	}
.gallery-icon img {
	display: block;
	background: #ffffff;
	padding: 12px;
	border: none;
	transition: background .25s;
	-moz-transition: background .25s;
	-webkit-transition: background .25s;
	-o-transition: background .25s;
	border-radius: 3px;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, .08);
	}
.gallery a:hover {
	background: #99cc33;
	}
.gallery img {
	border: none !important;
	}
.gallery-caption {
	font-size: .9em;
	padding: 0px 10px;
	}

/************************************************
*	14.	Sidebar 	        		    	    *
************************************************/

.sidebar {
	margin: 0px;
	padding: 64px 0px 64px 24px;
	}
.sidebar.left {
	padding: 64px 24px 64px 0px;
	}
.sidebar h6, .footer h6 {
	margin-bottom: 12px;
	padding-bottom: 0px;
	border-bottom: none;
	}

/************************************************
*	15.	Widgets									*
************************************************/

.widget {
	margin-bottom: 24px;
	padding: 0px;
	}
.widget ul, .widget li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
.widget li {
	display: block;
	margin: 6px 0px 0px 0px;
	padding: 6px 0px 0px 0px;
	border-top: 1px solid rgba(0,0,0, .08);
	}
.widget li:last-child {
	padding-bottom: 6px;
	border-bottom: 1px solid rgba(0,0,0, .08);
	}
.widget li li {
	padding-left: 12px;
	}
.widget li li:last-child {
	padding-bottom: 0px;
	border-bottom: none;
	}
.widget li a {
	margin: 0px;
	padding: 0px;
	}
.textwidget {
	margin: 0px;
	padding: 0px;
	}
.textwidget p {
	padding: 8px 0px !important;
	}
.tagcloud {
	line-height: 1.2;
	}

/************************************************
*	16.	RSS Widget								*
************************************************/

.widget h6 a.rsswidget {
	display: inline;
	}
.widget a.rsswidget {
	display: block;
	}
.widget .rss-date {
	display: block;
	font-size: 0.8em;
	margin-bottom: 12px;
	}

/************************************************
*	17.	Calendar Widget							*
************************************************/

#calendar_wrap {
	margin: 0px auto 0px;
	padding: 0px;
	}
#wp-calendar {
	width: 100%;
	text-align: center;
	}
#wp-calendar #today {
	background: #f4f4f4;
	background: rgba(0, 0, 0, .08);
	color: #000000;
	font-weight: bold;
	}
#wp-calendar a {
	margin: 0px;
	}
#wp-calendar caption {
	font-size: 16px;
	margin: 5px 0px 5px 0px;
	}
#wp-calendar #prev a {
	float: left;
	margin: 0px;
	text-align: left;
	padding-left: 12px;
	}
#wp-calendar #next a {
	float: right;
	margin: 0px;
	text-align: right;
	padding-right: 12px;
	}

/************************************************
*	18.	Custom Menu Widget						*
************************************************/

.widget ul.menu {
	float: none;
	text-align: left;
	}
.widget ul.menu .current_page_item a,
.widget ul.menu .current-menu-item a {
	color: #669900;
	background: none;
	}
.widget ul.menu li a {
	display: block;
	background: none;
	color: #99CC33;
	height: auto;
	font-size: 1em;
	text-transform: none;
	text-shadow: none;
	line-height: 1.8;
	margin: 6px 0px;
	padding: 0px;
	}
.widget ul.menu li a:hover {
	color: #669900;
	background: none;
	text-decoration: underline;
	}
.widget ul.menu li {
	float: none;
	display: block;
	background: none !important;
	margin: 0px;
	padding: 0px;
	width: 100%;
	}
.widget ul.menu li:last-child {
	border-bottom: none;
	}
.widget ul.menu li span {
	top: 1px;
	right: 0px;
	}
.widget ul.menu li ul.sub-menu {
	background: none !important;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: static;
	z-index: 9;
	box-shadow: none;
	}
.widget ul.menu li ul.sub-menu span {
	display: none;
	}
.widget ul.menu li ul.sub-menu li a {
	padding-left: 12px;
	}
.widget ul.menu li ul.sub-menu li ul.sub-menu li {
	display: none;
	}

/************************************************
*	19.	Search Form								*
************************************************/

#searchform {
	margin: 0px;
	padding: 0px;
	}
#searchform label {
	display: none;
	}
#searchform .search-field,
#searchform #s {
	float: left;
	background: #ffffff;
	color: #999999;
	width: 66%;
	height: 36px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
	line-height: 36px;
	margin: 0px 0px 0px 0px;
	padding: 0px 8px 0px 8px !important;
	border: 2px solid rgba(0, 0, 0, .4);
	border-radius: 24px;
	}
.sidebar.left #searchform .search-field,
.sidebar.left #searchform #s {
	width: 62%;
	}
#searchsubmit {
	float: right;
	background: #ffffff;
	color: #666666;
	width: 22%;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding: 7px 3% !important;
	}
.widget_search {
	overflow: hidden;
	}

/************************************************
*	20.	Footer  								*
************************************************/

.footer {
	margin: 0px auto 0px;
	padding: 0px;
	overflow: hidden;
	}
.footer .row {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	}
.footer p {
	margin: 0px;
	padding: 0px;
	}
.footer .align-left {
	font-size: 0.9em;
	line-height: 1.8;
	}
.footer-widgets {
	margin-left: -18px;
	padding-top: 48px;
	padding-bottom: 48px;
	width: calc(100% + 36px);
	width: -webkit-calc(100% + 36px);
	width: -moz-calc(100% + 36px);
	overflow: hidden;
	}
.footer-widgets .widget {
	float: left;
	background: #000000;
	width: 20%;
	background: none;
	color: #999999;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border-bottom: none;
	}
.footer-widgets .widget:nth-child(4n+1) {
	clear: both;
	}
.footer-widgets .widget:nth-child(4n+4) {
	width: 40%;
	}
.footer-widget {
	padding: 24px;
	}
.footer-information {
	padding: 48px;
	overflow: hidden;
	}
.footer-content {
	font-size: 0.85em;
	margin: 0px auto 0px;
	}
.footer-content a {
	color: #999999;
	}

/************************************************
*	21.	Comments								*
************************************************/

#author, #email, #url {
	background: #FFFFFF;
	color: #666666;
	font-size: 1em;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px #DDDDDD;
	}
#comment {
	background: #FFFFFF;
	color: #666666;
	font-size: 1em;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 5px 0px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px #DDDDDD;
	}
#comments {
	background: #F9F9F9;
	margin-top: 24px;
	padding: 12px 24px;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
	}
#comments-title {
	font-size: 2em;
	margin: 4px 0px 8px 0px;
	padding: 4px 0px 8px 0px;
	}
#reply-title {
	margin: 0px;
	padding: 0px;
	}
.commentlist li .avatar {
	float: right;
	background: #FFFFFF;
	margin: 0px 0px 12px 12px;
	padding: 6px;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
	}
.commentlist {
	margin: 0px;
	padding: 0px;
	}
.commentlist ol {
	margin: 0px;
	padding: 10px;
	}
.commentlist li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	}
.commentlist li:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
.commentlist li ul li {
	padding-left: 24px;
	}
.commentlist li ul li:last-child {
	border-bottom: none;
	}
.commentlist p {
	margin: 10px 0px;
	padding: 0px;
	}
.comment {
	padding: 18px 0px;
	}
.comment:after {
	content: "";
	display: table;
	clear: both;
	zoom: 1;
	}
#commentform {
	margin: 5px 0px 0px 0px;
	}
#commentform #submit {
	background: none;
	font-size: 1em;
	padding: 8px 12px !important;
	}
#commentform textarea {
	width: 96% !important;
	padding: 2%;
	}
.commentlist li #respond {
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	}
#respond {
	padding-top: 20px;
	}
#respond:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
	}
#cancel-comment-reply-link {
	display: block;
	font-family: 'Open Sans';
	font-size: 0.7em;
	font-weight: normal;
	text-transform: none;
	margin: 6px 0px 18px 0px;
	}
.form-submit #submit {
	margin-top: 0px !important;
	}
p.logged-in-as {
	margin-top: -6px;
	}
.nocomments {
	display: none;
	}
.edit-link {
	float: right;
	margin-top: 12px;
	}
.reply {
	float: left;
	margin: 6px 0px;
	}
.reply a, .reply a:visited {
	margin: 0px !important;
	padding: 4px 12px !important;
	}
.commentmetadata {
	font-size: 10px;
	line-height: 14px;
	margin: 0px;
	display: block;
	}
.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	}
.form-allowed-tags {
	display: none;
	}
.thread-alt, .thread-even {
	margin: 0px;
	padding: 0px;
	}
.children {
	margin: 0px;
	padding: 0px;
	}
.even, .alt {
	margin: 0px;
	padding: 0px;
	}

/************************************************
*	22.	Buttons  								*
************************************************/

a.button, .reply a, #searchsubmit, #prevLink a, #nextLink a, .more-link,
#submit, #comments #respond input#submit, .container .gform_wrapper input.button {
	display: inline-block;
	position: relative;
	color: #999999 !important;
	color: rgba(0, 0, 0, 0.4) !important;
	font-family: 'Montserrat';
	font-weight: 400;
	text-transform: uppercase;
	margin: 12px 0px;
	padding: 6px 24px;
	border-radius: 24px;
	border: 2px solid #999999;
	border: 2px solid rgba(0, 0, 0, 0.4);
	-webkit-appearance: none;
	}
a.button:hover, .reply a:hover, #searchsubmit:hover, #prevLink a:hover, #nextLink a:hover, .more-link:hover,
#submit:hover, #comments #respond input#submit:hover, .container .gform_wrapper input.button:hover {
	color: #333333 !important;
	text-decoration: none;
	border: 2px solid #333333;
	cursor: pointer;
	-webkit-appearance: none;
	}
.text-white a.button, .text-white #prevLink a, .text-white #nextLink a,
.text-white .more-link, .text-white #submit {
	color: #999999 !important;
	color: rgba(255, 255, 255, 0.6) !important;
	border: 2px solid #999999;
	border: 2px solid rgba(255, 255, 255, 0.6);
	}
.text-white a.button:hover, .text-white #prevLink a:hover, .text-white #nextLink a:hover,
.text-white .more-link:hover, .text-white #submit:hover {
	color: #ffffff !important;
	color: rgba(255, 255, 255, 1) !important;
	border: 2px solid #ffffff;
	border: 2px solid rgba(255, 255, 255, 1);
	}
a.more-link {
	margin-top: 24px;
	}

/************************************************
*	23. Tables		 							*
************************************************/

table {
	background: #FFFFFF;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	width: 100%;
	margin: 20px 0px;
	padding: 0px;
	border-collapse: collapse;
	}
.widget table {
	margin: 0px;
	}
table thead,
table tfoot {
	border: 1px solid #E4E4E4;
	}
table thead th,
table tfoot td {
	border: none;
	}
table th {
	background: #EEEEEE;
	font-size: 1.2em;
	text-align: center;
	margin: 0px;
	padding: 8px 2px;
	border: 1px solid #E4E4E4;
	}
table td {
	padding: 5px 2px;
	margin: 0px;
	border: 1px solid #E4E4E4;
	}

/************************************************
*	24. Forms									*
************************************************/

.container .ginput_complex .ginput_right br,
.container .gform_footer br {
	display: none;
	}
.container form {
	display: block;
	}
.container form ul li {
	list-style: none;
	padding: 0px;
	}
.container form legend {
	font-weight: bold;
	padding-top: 10px;
	}
.container form label {
	margin-top: 6px;
	}
.container form input[type='url'],
.container form input[type='tel'],
.container form input[type='email'],
.container form input[type='text'],
.container form input[type='password'],
.container form input[type='number'],
.container form textarea {
	display: block;
	background: #F9F9F9;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.4;
	margin: 4px 12px 4px 0px;
	padding: 8px 4px !important;
	border: 1px inset rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
.container form input[type='url'],
.container form input[type='tel'],
.container form input[type='email'],
.container form input[type='text'],
.container form input[type='password'],
.container form input[type='number'] {
	width: 42%;
	}
.container form textarea {
	width: 96% !important;
	}
.container form input[type='checkbox'],
.container form input[type='radio'] {
	margin-left: 0px;
	margin-right: 6px;
	}
.container form input[type='submit'] {
	margin-top: 0px;
	}
.container form select {
	display: block;
	background: #F9F9F9;
	max-width: 98%;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.4;
	margin: 4px 12px 4px 0px;
	padding: 6px 4px !important;
	border: 1px inset rgba(0, 0, 0, 0.08);
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	}

/************************************************
*	25.	CSS3 Styles								*
************************************************/

a, a:link {
	transition: all .25s;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	}
#submit, #searchsubmit {
	transition: all .25s;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	}
.shadow {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
	}
.radius-full {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.radius-top {
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	}
.radius-bottom {
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	}
.radius-half {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	-webkit-border-radius: 50%;
	}
@keyframes "spin" {
	 from {
	    -webkit-transform: rotate(0deg);
	   	-moz-transform: rotate(0deg);
	   	-o-transform: rotate(0deg);
	   	-ms-transform: rotate(0deg);
	   	transform: rotate(0deg);
	 	}
	 to {
	    -webkit-transform: rotate(359deg);
	   	-moz-transform: rotate(359deg);
	   	-o-transform: rotate(359deg);
	   	-ms-transform: rotate(359deg);
	   	transform: rotate(359deg);
	 	}
	}
@-moz-keyframes spin {
	 from {
	   	-moz-transform: rotate(0deg);
	   	transform: rotate(0deg);
	 	}
	 to {
	   	-moz-transform: rotate(359deg);
	   	transform: rotate(359deg);
	 	}
	}
@-webkit-keyframes "spin" {
	 from {
	   	-webkit-transform: rotate(0deg);
	   	transform: rotate(0deg);
	 	}
	 to {
	   	-webkit-transform: rotate(359deg);
	   	transform: rotate(359deg);
	 	}
	}
@-ms-keyframes "spin" {
	 from {
	   	-ms-transform: rotate(0deg);
	   	transform: rotate(0deg);
	 	}
	 to {
	   	-ms-transform: rotate(359deg);
	   	transform: rotate(359deg);
	 	}
	}
@-o-keyframes "spin" {
	 from {
	  	 -o-transform: rotate(0deg);
	   	transform: rotate(0deg);
	 	}
	 to {
	   	-o-transform: rotate(359deg);
	   	transform: rotate(359deg);
	 	}
	}

/************************************************
*	26.	WooCommerce	 				     	    *
************************************************/

.woocommerce a.button:hover {
	color: #000000 !important;
	}
.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
	display: block !important;
	}
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
	font-weight: 400;
	letter-spacing: 0;
	}
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	margin-bottom: 12px !important;
	}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
	margin-right: 0px;
	}
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	margin: 0px;
	padding: 0px !important;
	}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	width: 30.6% !important;
	}
.woocommerce  #review_form_wrapper {
	background: #f9f9f9;
	margin-top: 24px;
	padding: 24px;
	border-radius: 3px;
	}

/************************************************
*	27.	WordPress Core														*
************************************************/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
	}

/************************************************
*	28.	Grid																			*
************************************************/

#wrap {
	margin: 0px;
	padding: 0px;
	}
.container {
	position: relative;
	margin: 0px auto 0px;
	padding: 0px;
	}
.row {
	width: 100%;
	margin: 0 auto;
	}
.row .row {
	min-width: 0;
	}
.column, .columns {
	float: left;
	min-height: 1px;
	position: relative;
	}
[class*="column"] + [class*="column"]:last-child {
	float: right;
	}

.row .single 	{ width: 100%; }
.row .half 		{ width: 49.9%; }
.row .third 	{ width: 33.3%; }
.row .fourth 	{ width: 25%; }
.row .fifth 	{ width: 20%; }

.row .half,
.row .third,
.row .fourth,
.row .fifth 	{ float: left; }

.row .one 		{ width: 6.25%; }
.row .two 		{ width: 12.5%; }
.row .three 	{ width: 18.75%; }
.row .four 		{ width: 25%; }
.row .five 		{ width: 31.25%; }
.row .six 		{ width: 37.5%; }
.row .seven 	{ width: 43.75%; }
.row .eight 	{ width: 50%; }
.row .nine 		{ width: 56.25%; }
.row .ten 		{ width: 62.5%; }
.row .eleven 	{ width: 68.75%; }
.row .twelve 	{ width: 75%; }
.row .thirteen 	{ width: 81.25%; }
.row .fourteen 	{ width: 87.5%; }
.row .fifteen 	{ width: 93.75%; }
.row .sixteen 	{ width: 100%; }

.row .centered { float: none; margin: 0 auto; }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }
