/*******************************************************************************************************************

	Theme Name: Mainzan 
	Theme URI: http://www.organicthemes.com/theme/purpose-theme/
	Description: A theme adapted from a theme for business with a purpose.
	Author: Yameen Mohaned
	Author URI: mailto://yaamynu@gmail.com
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Version: Organic Purpose
	Text Domain: organic-purpose
	Domain Path: /languages/
	Tags: maizan electronics

	The CSS, XHTML and Design are released under the GPL:
	http://www.opensource.org/licenses/gpl-license.php

********************************************************************************************************************/
body,p{margin:0}.headline.img-headline,.vertical-center{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)}#navigation,.title{text-transform:uppercase}.menu a:active,.menu a:focus,.menu a:hover,.menu li.sfHover:hover{outline:0}body{background-color:#fff;color:#666;color:rgba(0,0,0,.5);font-size:1em;font-family:'Open Sans',Arial,Helvetica,sans-serif;font-weight:400;line-height:1.8;padding:0}ul.slides li div.information.vertical-center{background:rgba(0,0,0,.6);padding:20px;width:calc(100% - 40px)}ol,ol li,ul,ul li{margin:6px 0;padding:0 0 0 12px}p{padding:12px 0}p:empty{display:none}em{font-style:italic}strong{font-weight:700}hr{border:0;width:100%;height:1px;color:#DDD;background-color:#DDD;margin:6px 0 8px;padding:0}ol,ul{list-style:none}ol li{list-style:decimal inside}ul li{list-style:square inside}ul ol li,ul ol ul ol li{list-style-type:decimal}ol ul li,ol ul ol ul li{list-style-type:square}blockquote{color:#333;color:rgba(0,0,0,.8);font-family:'Droid Serif',Georgia,Times,serif;font-weight:300;font-size:1.6em;line-height:1.6;margin:20px 0;padding:20px;border-top:1px solid #DDD;border-top:1px solid rgba(0,0,0,.08);border-bottom:1px solid #DDD;border-bottom:1px solid rgba(0,0,0,.08)}blockquote p{margin:0;padding:0}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}code,pre{background:#F9F9F9;font-family:Courier,Verdana,Tahoma,Verdana;font-size:13px;line-height:1.4;margin:12px 0;padding:6px 8px;border:1px solid #DDD;border-radius:3px}code{display:inline;white-space:normal}pre{display:block}pre code{padding:0;border:none;border-radius:0}img{-ms-interpolation-mode:bicubic;height:auto}embed,img,object{max-width:100%;margin:0 auto}.clear{clear:both}.hidden{display:none}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.container .headline.text-hide,.text-hide{font-size:0;line-height:0;margin-left:-999em;margin-top:0;margin-bottom:0;padding:0}.headline,h1,h2,h3,h4,h5,h6{line-height:1.2;font-weight:400}.align-center{float:none;display:block;text-align:center;margin-left:auto;margin-right:auto}h1,h2,h3,h4,h5{margin:4px 0;padding:4px 0}.align-left{float:left}#navigation,.align-right{float:right}.vertical-center{transform:translateY(-50%)}a img{border:none}a,a:link,a:visited{color:#9c3;text-decoration:none}a:active,a:focus,a:hover{color:#690;text-decoration:underline}h1,h2,h3,h4,h5,h6{color:#333;color:rgba(0,0,0,.8);font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif}h1{font-size:3em;letter-spacing:-.8px}h2{font-size:2.4em;letter-spacing:-.6px}h3{font-size:2em;letter-spacing:-.4px}h4{font-size:1.6em}h5{font-size:1.4em}h6{font-size:1.1em;letter-spacing:.2px;margin:6px 0 4px;padding:6px 0 12px;border-bottom:1px solid rgba(0,0,0,.08)}h1 a,h1 a:link,h1 a:visited,h2 a,h2 a:link,h2 a:visited,h3 a,h3 a:link,h3 a:visited,h4 a,h4 a:link,h4 a:visited,h5 a,h5 a:link,h5 a:visited,h6 a,h6 a:link,h6 a:visited{color:#333;color:rgba(0,0,0,.8);text-decoration:none;border:none}h1 a:active,h1 a:focus,h1 a:hover,h2 a:active,h2 a:focus,h2 a:hover,h3 a:active,h3 a:focus,h3 a:hover,h4 a:active,h4 a:focus,h4 a:hover,h5 a:active,h5 a:focus,h5 a:hover,h6 a:active,h6 a:focus,h6 a:hover{color:#690;text-decoration:none;border:none}.headline{font-size:3.4em;letter-spacing:-1px;margin:0;padding:0 0 12px}.headline.img-headline{color:#fff;position:absolute;width:88%;font-size:4em;text-align:center;letter-spacing:-2px;padding:0 6%;transform:translateY(-50%)}#header #logo,#header #logo img{position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)}.headline.small{font-size:2.4em;font-weight:400}.title{font-size:1em;font-weight:400;letter-spacing:1px;line-height:1.6;margin:0;padding:6px 0}#header{position:fixed;width:100%;line-height:0;margin:0;z-index:99}#header.header-large{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.4)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,0));background-image:-ms-linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,0));background-image:linear-gradient(top,rgba(0,0,0,.4),rgba(0,0,0,0))}#header.header-small,#header.text-dark{background-image:none;border-bottom:1px solid rgba(0,0,0,.12)}#header .header-bg{width:100%;height:100%;display:none;position:absolute;background:rgba(255,255,255,.8);z-index:1;top:0}#header #logo-title{position:absolute;width:100%}#header #logo{float:left;display:block;width:16%;margin-left:4%;z-index:9;top:50%;transform:translateY(-50%)}#header #logo img{max-height:60px;top:50%;transform:translateY(-50%)}#header #masthead{float:left;position:relative;width:100%;margin:0 0 0 20%;padding:0;z-index:9;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}#header #masthead.no-logo{width:100%;margin:0}#header #masthead.no-logo .site-title{padding-left:36px}#header .site-title{display:block;position:relative;font-size:1.8em;font-family:Montserrat,'Helvetica Neue',Arial,sans-serif;font-weight:400;letter-spacing:-1px;line-height:1.1;margin:-2px 0 0 2px;padding:0}#header .site-title a{text-decoration:none}#header #logo,#header #logo-title,#header .menu a,#header .menu a:link,#header .menu a:visited{transition:all .25s;-moz-transition:all .25s;-webkit-transition:all .25s;-o-transition:all .25s}#header.header-large #logo-title{height:140px}#header.header-small #logo-title{height:60px}#header.header-large .menu a{line-height:140px}#header.header-small .menu a{line-height:60px}#header.header-large .menu a,#header.header-large .menu a:link,#header.header-large .menu a:visited,#header.header-large .menu-toggle,#header.header-large .menu-toggle:before,#header.header-large .site-title a{color:#ccc;color:rgba(255,255,255,.8)}#header.header-small .menu a,#header.header-small .menu a:link,#header.header-small .menu a:visited,#header.header-small .menu-toggle,#header.header-small .menu-toggle:before,#header.header-small .site-title a,#header.text-dark .menu a,#header.text-dark .menu a:link,#header.text-dark .menu a:visited,#header.text-dark .menu-toggle,#header.text-dark .menu-toggle:before,#header.text-dark .site-title a{color:#333;color:rgba(0,0,0,.8)}#navigation{display:inline-block;color:#fff;position:relative;font-size:.9em;font-family:Montserrat;font-weight:400;margin:0;padding:0 36px 0 0;z-index:99}.main-small-navigation ul.mobile-menu,.menu-toggle{display:none}.menu,.menu *,.menu ul{margin:0;padding:0}.menu-toggle{cursor:pointer}.menu,.menu *{list-style:none}.menu{line-height:1;margin-bottom:0}.menu ul ul,ul.menu ul{position:absolute;top:-9999px;width:180px}.menu a,.menu li,.menu li li{position:relative}ul.menu ul,ul.sub-menu{left:50%;margin-left:-90px}.menu ul ul ul,ul.menu ul ul{margin:0}.menu ul li ul li,ul.menu ul li{width:100%;margin:0}.menu li:hover{visibility:inherit}#respond:after,.slides:after{visibility:hidden;clear:both}.menu li{display:inline-block}.menu li li{display:block}.menu li.sfHover ul,.menu li:hover ul{top:auto;margin-top:0;z-index:99}.header-large .menu li.sfHover ul,.header-large .menu li:hover ul{margin-top:-40px}.header-large .menu li.sfHover ul ul,.header-large .menu li:hover ul ul{margin-top:0}ul.menu li.sfHover li ul,ul.menu li:hover li ul{top:-9999px}ul.menu li li.sfHover ul,ul.menu li li:hover ul{left:180px;top:0}ul.menu li li.sfHover li ul,ul.menu li li:hover li ul{top:-9999px}ul.menu li li li.sfHover ul,ul.menu li li li:hover ul{left:180px;top:0}.menu ul.children,.menu ul.sub-menu{background-color:#f9f9f9;border-radius:3px;box-shadow:3px 3px 0 rgba(0,0,0,.12)}.menu a,.menu li li a{background:0 0;margin:0}.menu a{display:inline-block;line-height:140px;text-decoration:none;letter-spacing:.1px;padding:0 8px}.flex-direction-nav .flex-next:hover,.flex-direction-nav .flex-prev:hover,.flex-direction-nav li a{text-decoration:none!important}.menu li li a{display:block;font-size:.9em;text-transform:none;line-height:40px!important;padding:0 12px;border-top:1px solid rgba(0,0,0,.08)}.menu li li:nth-child(2) a{border-top:none!important}#wrap .menu li li a,#wrap .menu li li a:link,#wrap .menu li li a:visited{color:#999!important;color:rgba(0,0,0,.4)!important}.menu li li a:active,.menu li li a:focus,.menu li li a:hover{background:rgba(0,0,0,.04);outline:0}#wrap .menu li li a:active,#wrap .menu li li a:focus,#wrap .menu li li a:hover{color:#333!important;color:rgba(0,0,0,.8)!important}.menu li li a:hover{color:#333;color:rgba(0,0,0,.8)}.menu li{margin:0}.menu li li{background:0 0;text-align:center;margin:0}.menu .nav-arrow{position:absolute;top:-6px;left:50%;margin-left:-3px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #f9f9f9;z-index:9}.menu ul.children ul.children .nav-arrow,.menu ul.sub-menu ul.sub-menu .nav-arrow{display:none}.sf-arrows .sf-with-ul{padding-right:14px}.sf-arrows .sf-with-ul:after{content:'';position:absolute;top:50%;right:4px;margin-top:-1px;height:0;width:0;border:3px solid transparent;border-top-color:rgba(0,0,0,.4)}.sf-arrows>.sfHover>.sf-with-ul:after,.sf-arrows>li:hover>.sf-with-ul:after,.sf-arrows>li>.sf-with-ul:focus:after{border-top-color:rgba(0,0,0,.4)}.sf-arrows ul .sf-with-ul:after{margin-top:-3px;margin-right:0;border-color:transparent;border-left-color:rgba(0,0,0,.4)}.sf-arrows ul .sfHover>.sf-with-ul:after,.sf-arrows ul li:hover>.sf-with-ul:after,.sf-arrows ul li>.sf-with-ul:focus:after{border-left-color:rgba(0,0,0,.4)}.home-slider .slideshow .slides li{height:100vh;position:inherit;background-position:top center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed}.page-template .slideshow .slides li,.single-post .slideshow .slides li{min-height:320px;background-position:top center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.page-template .slideshow .slides li img,.single-post .slideshow .slides li img{margin-left:-9999px}.home-slider .slideshow .loading{height:100vh}.slideshow{display:block;height:100%;margin:0;padding:0;position:relative}.slideshow li,.slideshow ul{list-style-type:none;margin:0;padding:0}.slideshow .information{position:absolute;width:100%;margin-top:48px}.slideshow .headline{font-size:3.6em;letter-spacing:-2px;line-height:1;margin:0;padding-bottom:12px}.slideshow .headline.small{font-size:3em}.slideshow .headline a{color:#fff!important}.slideshow .feature-img,.slideshow .feature-vid{margin:0;padding:0}.slideshow .more-link{margin:0}.slideshow .excerpt .more-link{margin-top:24px}.slideshow .read-more{display:none}.slideshow .loading{background:#a5c1c4;min-height:520px}.slideshow .preloader{position:absolute;top:50%;left:50%;margin-left:-16px;margin-top:-16px;border-bottom:3px solid rgba(255,255,255,.6);border-left:3px solid rgba(255,255,255,.6);border-right:3px solid rgba(255,255,255,.2);border-top:3px solid rgba(255,255,255,.2);border-radius:100%;height:32px;width:32px;-webkit-animation:spin .6s infinite linear;-moz-animation:spin .6s infinite linear;-ms-animation:spin .6s infinite linear;-o-animation:spin .6s infinite linear;animation:spin .6s infinite linear;z-index:999}.flexslider{background:#a5c1c4;margin:0;padding:0;overflow:hidden}.flexslider .slides{position:relative;overflow:hidden;zoom:1}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides img,.slides:after,html[xmlns] .slides{display:block}.flex-pauseplay span{text-transform:capitalize}.slides:after{content:"\0020";line-height:0;height:0}* html .slides{height:1%}.no-js .slides>li:first-child{display:none}.flex-caption{zoom:1;background:rgba(0,0,0,.3);color:#FFF;width:96%;padding:2%;margin:0;position:absolute;left:0;bottom:0;text-shadow:0 -1px 0 rgba(0,0,0,.3)}.flex-direction-nav{height:0}.flex-direction-nav li a{display:block;font-size:24px;line-height:46px;height:48px;width:48px;margin:24px 0 0;opacity:1;position:absolute;top:50%;cursor:pointer;overflow:visible;z-index:9;border:2px solid #999;border:2px solid rgba(255,255,255,.4);transition:all .25s;-moz-transition:all .25s;-webkit-transition:all .25s;-o-transition:all .25s}.gallery-slideshow .flex-direction-nav li a{margin-top:-24px}.flex-direction-nav li a:hover{border:2px solid #fff}.flex-direction-nav .flex-next{right:24px;text-align:center;border-radius:48px}.flex-direction-nav .flex-prev{left:24px;text-align:center;border-radius:48px}.flex-direction-nav .flex-next i,.flex-direction-nav .flex-prev i{color:#999;color:rgba(255,255,255,.4)}.flex-direction-nav .flex-next i{margin-left:3px}.flex-direction-nav .flex-prev i{margin-right:3px}.flex-direction-nav .flex-next:hover i,.flex-direction-nav .flex-prev:hover i{color:#FFF}.flex-direction-nav a.flex-disabled{opacity:0!important}.flex-control-nav{position:absolute;right:18px;bottom:0;text-align:center;margin:0;padding:0;z-index:9}.flex-control-nav li{display:inline-block;margin:0;padding:4px!important;zoom:1}.flex-control-nav li:first-child{margin:0}.flex-control-nav li a{width:4px;height:4px;display:block;cursor:pointer;text-indent:-999em;border-radius:3px;border:2px solid rgba(255,255,255,.2)}.flex-control-nav li a:hover{background:rgba(255,255,255,.2)}.flex-control-nav li a.flex-active{background:rgba(255,255,255,.6);cursor:default;border:2px solid rgba(255,255,255,0)}.featured-pages .row,.featured-posts .row{border-top:1px solid rgba(0,0,0,.12)}.featured-pages{position:relative;overflow:hidden}.featured-pages .holder{position:relative;padding:64px 0;overflow:hidden;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.featured-pages .read-more{display:none}.article,.post-meta{display:block}.featured-posts-wrap{margin-top:24px;margin-left:-18px;padding-bottom:64px;width:calc(100% + 36px);width:-webkit-calc(100% + 36px);width:-moz-calc(100% + 36px);overflow:hidden}.featured-posts .third:nth-child(3n+1){clear:both}.featured-posts .holder{padding:18px}.featured-posts .headline{padding-top:64px}.featured-posts .excerpt{font-size:.9em;line-height:1.7}.content{max-width:1180px;margin:0 auto;padding:0 96px;position:relative}.content.no-thumb,.no-thumb{padding-top:140px}.archive-holder,.blog-holder{background:#f9f9f9;position:relative;margin-bottom:48px;border-radius:3px;box-shadow:0 0 12px rgba(0,0,0,.12)}.archive-holder .article,.blog-holder .article{padding:24px 36px}.postarea{padding:64px 24px 64px 0}.postarea.right{padding:64px 0 64px 24px}.postarea.full,.postarea.wide{padding:64px 0}.postarea.full{max-width:780px;margin:0 auto}.postarea.middle{padding:64px 24px}.post-meta{color:#999;font-size:.8em;margin:12px 0;padding:12px 0 0;border-top:2px solid rgba(0,0,0,.08);overflow:hidden}.post-meta p{margin:0;padding:0}.post-meta .align-left,.post-meta .align-right{max-width:50%}.archive-holder .post-meta,.blog-holder .post-meta{padding:12px 24px;margin:0;border-top:1px solid rgba(0,0,0,.08)}.post-edit-link{display:inline-block;margin:12px 0}.author-column{float:right;width:72%;margin-top:20px;padding-left:4%;border-left:1px solid rgba(0,0,0,.08)}.author-posts{margin:0 0 12px;padding:0}.author-posts li{margin:0;padding:6px 0;border-bottom:1px solid rgba(0,0,0,.08)}.archive-column{float:left;font-size:.9em;width:30%;margin:0;padding-right:5%}.archive-column.last{padding-right:0}.wp-audio-shortcode{margin:12px 0}.text-white h1,.text-white h2,.text-white h3,.text-white h4,.text-white h5,.text-white h6{color:#fff;color:rgba(255,255,255,1)}.text-white,.text-white blockquote,.text-white p{color:#fff;color:rgba(255,255,255,.8)}.bypostauthor,.sticky{display:block;position:relative}.blog-holder .headline.img-headline a,.slideshow .headline a{color:#fff!important;text-decoration:none!important}.blog-holder .format-video .feature-vid{margin:0}.blog-holder .format-image{position:relative}.blog-holder .format-image .feature-img{position:relative;margin:0;z-index:6}.blog-holder .format-image .caption{display:block;background:rgba(0,0,0,.6);color:#FFF;width:100%;font-size:1em;font-weight:400;letter-spacing:0;position:absolute;bottom:0;margin:0;padding:12px 0;z-index:9}.blog-holder .format-image .caption span{padding:0 18px}.blog-holder .format-status{border-radius:3px}.blog-holder .format-status .article{font-size:1.2em;line-height:1.6;padding:24px 36px}.blog-holder .format-quote .article{background:#f9f9f9;padding:36px;margin:0;border-radius:3px}.blog-holder .format-quote .quote-text{color:#666;font-family:'Droid Serif';font-style:italic;font-size:1.4em;font-weight:400;line-height:1.6;padding:0}.blog-holder .format-quote .quote-author{display:block;color:#999;font-size:.9em;font-style:italic;padding:12px 0 0}.blog-holder .format-quote .quote-author:before,.slideshow .format-quote .quote-author:before{content:'— '}.slideshow .format-video .feature-vid{background:#fff;margin:0 48px 0 0;padding:12px;box-shadow:0 0 12px rgba(0,0,0,.12)}.slideshow .format-video .text-holder p{line-height:1.6}.slideshow .format-status .content{max-width:720px}.slideshow .format-status .text-holder{background:#fff;font-size:.9em;padding:24px 36px;border-radius:12px}.slideshow .format-status .excerpt>h1:first-of-type img,.slideshow .format-status .excerpt>h2:first-of-type img,.slideshow .format-status .excerpt>h3:first-of-type img,.slideshow .format-status .excerpt>h4:first-of-type img,.slideshow .format-status .excerpt>h5:first-of-type img,.slideshow .format-status .excerpt>h6:first-of-type img,.slideshow .format-status .excerpt>img:first-of-type,.slideshow .format-status .excerpt>p:first-of-type img{max-height:120px;max-width:120px;margin-top:-88px;margin-bottom:12px;border:12px solid #fff;border-radius:50%;overflow:hidden}.slideshow .format-quote .text-holder{padding:72px;margin:0}.slideshow .format-quote .excerpt{color:#fff;font-family:'Droid Serif';font-size:1.4em;font-weight:700;line-height:1.5}.slideshow .format-quote .quote-author{color:rgba(255,255,255,.4);font-family:'Droid Serif';font-size:.9em;font-style:italic;padding:12px 0 0}.slideshow .format-audio .mejs-container,.slideshow .format-audio .mejs-container .mejs-controls,.slideshow .format-audio .mejs-embed,.slideshow .format-audio .mejs-embed body{background:0 0}.slideshow .format-audio .mejs-container{max-width:480px;margin:24px auto}.slideshow .format-audio .mejs-inner{padding:12px 24px;border:2px solid #fff;border-radius:48px}.slideshow .format-audio .mejs-container .mejs-controls .mejs-playpause-button{margin-left:6px}.slideshow .format-audio .mejs-controls .mejs-playpause-button button{margin:5px}.slideshow .format-audio .mejs-controls div.mejs-time-rail{padding-top:2px}.slideshow .format-audio .mejs-controls .mejs-time-rail .mejs-time-total{background:0 0;border:2px solid #fff}.slideshow .format-audio .mejs-controls .mejs-time-rail .mejs-time-loaded{background:rgba(255,255,255,.2)}.slideshow .format-audio .mejs-controls .mejs-time-rail .mejs-time-current{background:#fff;border-radius:0}.slideshow .format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{background:rgba(255,255,255,.4)}.slideshow .format-audio .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{background:#fff}i.format-icon{position:absolute;top:0;left:50%;background:#f9f9f9;color:#999;font-size:18px;line-height:48px;text-align:center;min-height:48px;min-width:48px;padding:0;margin-top:-24px;margin-left:-24px;border-radius:24px;z-index:9}i.format-icon.fa-play{text-indent:4px}.social-icons{list-style:none;margin:0;padding:6px 0 0}.social-icons li{display:inline-block;list-style:none;margin:0;padding:0}.social-icons li a{display:block;background:#eee;color:#999;text-align:center;text-decoration:none;line-height:32px;min-width:32px;margin:2px;padding:0;border-radius:16px}.social-icons li a:hover{background:#ccc;color:#fff}.social-icons li a::before{font-family:FontAwesome;font-size:16px;font-weight:400;content:'\f0c1'}.social-icons li a span{display:none}.social-icons li a[href*="facebook.com"]::before{content:'\f09a'}.social-icons li a[href*="twitter.com"]::before{content:'\f099'}.social-icons li a[href*="plus.google.com"]::before{content:'\f0d5'}.social-icons li a[href*="linkedin.com"]::before{content:'\f0e1'}.social-icons li a[href*="github.com"]::before{content:'\f113'}.social-icons li a[href*="dribbble.com"]::before{content:'\f17d'}.social-icons li a[href*="foursquare.com"]::before{content:'\f180'}.social-icons li a[href*="pinterest.com"]::before{content:'\f0d2'}.social-icons li a[href*="wordpress.com"]::before{content:'\f19a'}.social-icons li a[href*="youtube.com"]::before{content:'\f16a'}.social-icons li a[href*="vine.co"]::before{content:'\f1ca'}.social-icons li a[href*="instagram.com"]::before{content:'\f16d'}.social-icons li a[href*="stackexchange.com"]::before{content:'\f18d'}.social-icons li a[href*="spotify.com"]::before{content:'\f1bc'}.social-icons li a[href*="amazon.com"]::before{content:'\f270'}.social-icons li a[href*="flickr.com"]::before{content:'\f16e'}.social-icons li a[href*="vimeo.com"]::before{content:'\f27d'}.social-icons li a[href*="yelp.com"]::before{content:'\f1e9'}.social-icons li a[href*="mailto:"]::before{content:'\f0e0'}.social-icons li a[href$="/feed/"]::before{content:'\f09e'}.pagination{float:left;display:block;width:100%;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:700;text-align:center;line-height:24px;margin:0;padding:12px 0;position:relative;z-index:9}.pagination .page-numbers{display:inline-block;background:#F9F9F9;color:#666;min-height:24px;min-width:24px;text-decoration:none;margin:0 2px;padding:0;border-radius:2px;box-shadow:inset 1px 1px 1px rgba(0,0,0,.2)}.pagination .page-numbers.current,.pagination .page-numbers:active,.pagination .page-numbers:hover{background:#EEE;min-height:24px;min-width:24px;line-height:24px;border-radius:2px;padding:0}.pagination .page-numbers.current{display:inline-block}.post-navigation{display:block;margin:0;padding:0;overflow:hidden}.previous-post{float:left;font-size:.9em}.next-post{float:right;font-size:.9em}.page-links{display:block;overflow:hidden;margin:12px 0}.page-links .link-label{color:#000;font-weight:700;margin-left:0}.page-links span{margin:0 3px}.feature-img,.feature-vid{display:block;text-align:center;line-height:0;margin:12px auto 24px;overflow:hidden}.feature-img.page-banner{width:100%;min-height:240px;max-height:600px;position:relative;line-height:0;margin:0;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.page-banner img{margin-left:-9999px}.archive-holder .feature-img,.archive-holder .feature-vid,.blog-holder .feature-img,.blog-holder .feature-vid{margin:0}.avatar{background:#FFF;margin:10px 20px 10px 0;padding:6px}.author-avatar{float:left;display:block;width:20%;margin-top:20px;padding-right:3.6%}.author-avatar .avatar{display:block;margin:0;padding:0;border:none}img.aligncenter{display:block;margin:6px auto;padding:0}img.alignleft,img.alignnone,img.alignright{display:inline;padding:0}img.alignnone{margin:6px 0}img.alignright{margin:12px 0 12px 24px}img.alignleft{margin:12px 24px 12px 0}.aligncenter{display:block;margin:6px auto}.alignright{float:right;margin:6px 0 6px 24px}.alignleft,.portfolio-half .portfolio-item,.portfolio-third .portfolio-item{float:left}.alignleft{margin:6px 24px 6px 0}.wp-caption{background:#eee;max-width:100%;text-align:center;margin-top:12px;margin-bottom:12px;padding:8px 6px;border-radius:3px}.wp-caption img{max-width:100%;margin:0 auto;padding:0}.wp-caption p.wp-caption-text{display:inline;font-size:.85em;line-height:1.6;margin:0;padding:0}.portfolio-wrap{margin-left:-12px;width:calc(100% + 24px);width:-webkit-calc(100% + 24px);width:-moz-calc(100% + 24px)}#portfolio-filter{background:#fff;text-align:center;margin:0;padding:0;border-bottom:1px solid rgba(0,0,0,.12)}#portfolio-filter li{display:inline-block;list-style:none;margin:0;padding:0}#portfolio-filter li a{display:inline-block;color:#999;font-size:.9em;font-family:'Open Sans';text-decoration:none;margin:0;padding:12px}#portfolio-filter li a:active,#portfolio-filter li a:focus,#portfolio-filter li a:hover{background:rgba(0,0,0,.04);color:#000!important}#portfolio-filter li:last-child a{margin-right:0}#portfolio-list{margin:0;padding:0}.portfolio{background:#FFF}.portfolio .portfolio-item{list-style:none;margin:0;padding:0}.portfolio .post-holder{background:#F9F9F9;box-shadow:0 0 12px rgba(0,0,0,.12)}.portfolio-item.single .post-holder{margin:12px}.portfolio-half .post-holder,.portfolio-third .post-holder{margin:12px;padding:0}.portfolio-item .feature-img,.portfolio-item .feature-vid{margin:0}.portfolio .excerpt{padding:24px 36px}.portfolio-half .excerpt,.portfolio-third .excerpt{display:block;padding:12px 24px}.portfolio-item.single .excerpt{background:#F9F9F9;padding:36px}.portfolio-item.single .more-link{margin-bottom:0}.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform,opacity}.isotope .isotope-item.no-transition,.isotope.no-transition,.isotope.no-transition .isotope-item{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}.gallery{margin:0 auto;padding:0;overflow:hidden}.gallery-item{margin:0}.gallery-icon{line-height:0;margin:6px}.gallery-icon img{display:block;background:#fff;padding:12px;border:none;transition:background .25s;-moz-transition:background .25s;-webkit-transition:background .25s;-o-transition:background .25s;border-radius:3px;box-shadow:3px 3px 0 rgba(0,0,0,.08)}.gallery a:hover{background:#9c3}.gallery img{border:none!important}.gallery-caption{font-size:.9em;padding:0 10px}.sidebar{margin:0;padding:64px 0 64px 24px}.sidebar.left{padding:64px 24px 64px 0}.footer h6,.sidebar h6{margin-bottom:12px;padding-bottom:0;border-bottom:none}.widget{margin-bottom:24px;padding:0}.widget li,.widget ul{list-style-type:none;margin:0;padding:0}.widget li{display:block;margin:6px 0 0;padding:6px 0 0;border-top:1px solid rgba(0,0,0,.08)}.widget li:last-child{padding-bottom:6px;border-bottom:1px solid rgba(0,0,0,.08)}.widget li li{padding-left:12px}.widget li li:last-child{padding-bottom:0;border-bottom:none}.textwidget,.widget li a{margin:0;padding:0}.textwidget p{padding:8px 0!important}.tagcloud{line-height:1.2}.widget h6 a.rsswidget{display:inline}.widget a.rsswidget{display:block}.widget .rss-date{display:block;font-size:.8em;margin-bottom:12px}#calendar_wrap{margin:0 auto;padding:0}#wp-calendar{width:100%;text-align:center}#wp-calendar #today{background:#f4f4f4;background:rgba(0,0,0,.08);color:#000;font-weight:700}#wp-calendar a{margin:0}#wp-calendar caption{font-size:16px;margin:5px 0}#wp-calendar #prev a{float:left;margin:0;text-align:left;padding-left:12px}#wp-calendar #next a{float:right;margin:0;text-align:right;padding-right:12px}.widget ul.menu{float:none;text-align:left}.widget ul.menu .current-menu-item a,.widget ul.menu .current_page_item a{color:#690;background:0 0}.widget ul.menu li a{display:block;background:0 0;color:#9C3;height:auto;font-size:1em;text-transform:none;text-shadow:none;line-height:1.8;margin:6px 0;padding:0}.widget ul.menu li a:hover{color:#690;background:0 0;text-decoration:underline}.widget ul.menu li,.widget ul.menu li ul.sub-menu{background:0 0!important;width:100%;padding:0;margin:0}.widget ul.menu li{float:none;display:block}#searchform label,.widget ul.menu li ul.sub-menu li ul.sub-menu li,.widget ul.menu li ul.sub-menu span{display:none}.widget ul.menu li:last-child{border-bottom:none}.widget ul.menu li span{top:1px;right:0}.widget ul.menu li ul.sub-menu{position:static;z-index:9;box-shadow:none}.widget ul.menu li ul.sub-menu li a{padding-left:12px}#searchform{margin:0;padding:0}#searchform #s,#searchform .search-field{float:left;background:#fff;color:#999;width:66%;height:36px;font-family:'Helvetica Neue',Arial,sans-serif;font-size:1em;line-height:36px;margin:0;padding:0 8px!important;border:2px solid rgba(0,0,0,.4);border-radius:24px}.sidebar.left #searchform #s,.sidebar.left #searchform .search-field{width:62%}#searchsubmit{float:right;background:#fff;width:22%;font-size:1em;margin-top:0!important;margin-bottom:0!important;padding:7px 3%!important}.widget_search{overflow:hidden}.footer{margin:0 auto;padding:0;overflow:hidden}.footer .row{border-top:1px solid rgba(0,0,0,.12)}.footer p{margin:0;padding:0}.footer .align-left{font-size:.9em;line-height:1.8}.footer-widgets{margin-left:-18px;padding-top:48px;padding-bottom:48px;width:calc(100% + 36px);width:-webkit-calc(100% + 36px);width:-moz-calc(100% + 36px);overflow:hidden}.footer-widgets .widget{float:left;width:20%;background:0 0;color:#999;margin-top:0;margin-bottom:0;padding:0;border-bottom:none}.footer-widgets .widget:nth-child(4n+1){clear:both}.footer-widgets .widget:nth-child(4n+4){width:40%}.footer-widget{padding:24px}.footer-information{padding:48px;overflow:hidden}.footer-content{font-size:.85em;margin:0 auto}.footer-content a{color:#999}#author,#comment,#email,#url{color:#666;font-size:1em;font-family:Georgia,"Times New Roman",Times,serif;padding:5px;box-shadow:inset 1px 1px 1px #DDD;background:#FFF}#author,#email,#url{margin:0;border:1px solid rgba(0,0,0,.08);border-radius:3px}#comment{margin:5px 0;border:1px solid rgba(0,0,0,.08);border-radius:3px}#comments{background:#F9F9F9;margin-top:24px;padding:12px 24px;border-radius:3px;box-shadow:0 0 12px rgba(0,0,0,.12)}#comments-title{font-size:2em;margin:4px 0 8px;padding:4px 0 8px}#reply-title{margin:0;padding:0}.commentlist li .avatar{float:right;background:#FFF;margin:0 0 12px 12px;padding:6px;border:none;border-radius:3px;box-shadow:0 0 6px rgba(0,0,0,.12)}.commentlist li,.commentlist li #respond{border-top:1px solid rgba(0,0,0,.08)}.commentlist{margin:0;padding:0}.commentlist ol{margin:0;padding:10px}.commentlist li{margin:0;padding:0;list-style:none}.commentlist li:last-child{border-bottom:1px solid rgba(0,0,0,.08)}.commentlist li ul li{padding-left:24px}.commentlist li ul li:last-child{border-bottom:none}.commentlist p{margin:10px 0;padding:0}.comment{padding:18px 0}.comment:after{content:"";display:table;clear:both;zoom:1}#commentform{margin:5px 0 0}#commentform #submit{background:0 0;font-size:1em;padding:8px 12px!important}#commentform textarea{width:96%!important;padding:2%}#respond{padding-top:20px}#respond:after{content:".";display:block;height:0}#cancel-comment-reply-link{display:block;font-family:'Open Sans';font-size:.7em;font-weight:400;text-transform:none;margin:6px 0 18px}.form-submit #submit{margin-top:0!important}p.logged-in-as{margin-top:-6px}.nocomments{display:none}.edit-link{float:right;margin-top:12px}.reply{float:left;margin:6px 0}.reply a,.reply a:visited{margin:0!important;padding:4px 12px!important}.commentmetadata{font-size:10px;line-height:14px;margin:0;display:block}.navigation{display:block;text-align:center;margin-top:10px;margin-bottom:30px}.form-allowed-tags{display:none}.alt,.children,.even,.thread-alt,.thread-even{margin:0;padding:0}#comments #respond input#submit,#nextLink a,#prevLink a,#searchsubmit,#submit,.container .gform_wrapper input.button,.more-link,.reply a,a.button{display:inline-block;position:relative;color:#999!important;color:rgba(0,0,0,.4)!important;font-family:Montserrat;font-weight:400;text-transform:uppercase;margin:12px 0;padding:6px 24px;border-radius:24px;border:2px solid #999;border:2px solid rgba(0,0,0,.4);-webkit-appearance:none}#comments #respond input#submit:hover,#nextLink a:hover,#prevLink a:hover,#searchsubmit:hover,#submit:hover,.container .gform_wrapper input.button:hover,.more-link:hover,.reply a:hover,a.button:hover{color:#333!important;text-decoration:none;border:2px solid #333;cursor:pointer;-webkit-appearance:none}.text-white #nextLink a,.text-white #prevLink a,.text-white #submit,.text-white .more-link,.text-white a.button{color:#999!important;color:rgba(255,255,255,.6)!important;border:2px solid #999;border:2px solid rgba(255,255,255,.6)}.text-white #nextLink a:hover,.text-white #prevLink a:hover,.text-white #submit:hover,.text-white .more-link:hover,.text-white a.button:hover{color:#fff!important;color:rgba(255,255,255,1)!important;border:2px solid #fff;border:2px solid rgba(255,255,255,1)}table td,table tfoot,table th,table thead{border:1px solid #E4E4E4}a.more-link{margin-top:24px}.widget table,table td,table th{margin:0}table{border-spacing:0;background:#FFF;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;width:100%;margin:20px 0;padding:0;border-collapse:collapse}table tfoot td,table thead th{border:none}table th{background:#EEE;font-size:1.2em;text-align:center;padding:8px 2px}table td{padding:5px 2px}.container .gform_footer br,.container .ginput_complex .ginput_right br{display:none}.container form{display:block}.container form ul li{list-style:none;padding:0}.container form legend{font-weight:700;padding-top:10px}.container form label{margin-top:6px}.container form input[type=url],.container form input[type=tel],.container form input[type=email],.container form input[type=text],.container form input[type=password],.container form input[type=number],.container form textarea{display:block;background:#F9F9F9;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:1em;line-height:1.4;margin:4px 12px 4px 0;padding:8px 4px!important;border:1px inset rgba(0,0,0,.08);border-radius:3px;box-shadow:inset 1px 1px 1px rgba(0,0,0,.1)}.container form input[type=url],.container form input[type=tel],.container form input[type=email],.container form input[type=text],.container form input[type=password],.container form input[type=number]{width:42%}.container form textarea{width:96%!important}.container form input[type=checkbox],.container form input[type=radio]{margin-left:0;margin-right:6px}.container form input[type=submit]{margin-top:0}.container form select{display:block;background:#F9F9F9;max-width:98%;font-family:'Helvetica Neue',Arial,Helvetica,sans-serif;font-size:1em;line-height:1.4;margin:4px 12px 4px 0;padding:6px 4px!important;border:1px inset rgba(0,0,0,.08);border-radius:3px;box-shadow:inset 1px 1px 1px rgba(0,0,0,.1)}#searchsubmit,#submit,a,a:link{transition:all .25s;-moz-transition:all .25s;-webkit-transition:all .25s;-o-transition:all .25s}.shadow{box-shadow:0 1px 1px rgba(0,0,0,.12);-moz-box-shadow:0 1px 1px rgba(0,0,0,.12);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.12)}.radius-full{border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px}.radius-top{border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-khtml-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0}.radius-bottom{border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-khtml-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px}.radius-half{border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%}@keyframes spin{from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}}@-moz-keyframes spin{from{-moz-transform:rotate(0);transform:rotate(0)}to{-moz-transform:rotate(359deg);transform:rotate(359deg)}}@-webkit-keyframes spin{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-ms-keyframes "spin"{from{-ms-transform:rotate(0);transform:rotate(0)}to{-ms-transform:rotate(359deg);transform:rotate(359deg)}}@-o-keyframes spin{from{-o-transform:rotate(0);transform:rotate(0)}to{-o-transform:rotate(359deg);transform:rotate(359deg)}}.woocommerce a.button:hover{color:#000!important}.woocommerce a.added_to_cart,.woocommerce-page a.added_to_cart{display:block!important}.woocommerce ul.products li.product h3,.woocommerce-page ul.products li.product h3{font-weight:400;letter-spacing:0}.woocommerce ul.products li.product .price,.woocommerce-page ul.products li.product .price{margin-bottom:12px!important}.woocommerce .woocommerce-ordering select,.woocommerce-page .woocommerce-ordering select{margin-right:0}.woocommerce #content .quantity input.qty,.woocommerce .quantity input.qty,.woocommerce-page #content .quantity input.qty,.woocommerce-page .quantity input.qty{margin:0;padding:0!important}.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{width:30.6%!important}.woocommerce #review_form_wrapper{background:#f9f9f9;margin-top:24px;padding:24px;border-radius:3px}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.row,.row .single{width:100%}#wrap{margin:0;padding:0}.container{position:relative;margin:0 auto;padding:0}.row{margin:0 auto}.row .row{min-width:0}.column,.columns{float:left;min-height:1px;position:relative}[class*=column]+[class*=column]:last-child{float:right}.row .half{width:49.9%}.row .third{width:33.3%}.row .fourth{width:25%}.row .fifth{width:20%}.row .fifth,.row .fourth,.row .half,.row .third{float:left}.row .one{width:6.25%}.row .two{width:12.5%}.row .three{width:18.75%}.row .four{width:25%}.row .five{width:31.25%}.row .six{width:37.5%}.row .seven{width:43.75%}.row .eight{width:50%}.row .nine{width:56.25%}.row .ten{width:62.5%}.row .eleven{width:68.75%}.row .twelve{width:75%}.row .thirteen{width:81.25%}.row .fourteen{width:87.5%}.row .fifteen{width:93.75%}.row .sixteen{width:100%}.row .centered{float:none;margin:0 auto}.clearfix:after,.clearfix:before,.row:after,.row:before{content:"";display:table}.clearfix:after,.row:after{clear:both}.clearfix,.row{zoom:1}
@media handheld,only screen and (max-width:1024px){body{font-size:.9rem;line-height:1.8}blockquote{font-size:1.3rem}#header #logo img,#navigation,#wrap #header #logo{top:auto;position:relative}#wrap #header .menu a,#wrap #header .site-title,.menu-toggle{line-height:60px}#header.header-large,#header.header-small{position:relative;background:#fff}#header .four.columns,#header .twelve.columns{width:100%}#header #masthead,#wrap #header #logo{width:auto;margin-left:0}#header #logo-title{float:left}#header.header-large #logo-title{height:60px}#wrap #header #logo{margin-top:0;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}#header #logo img.logo-light{display:none!important}#header #logo img.logo-dark{display:block!important;opacity:1!important}#navigation,.main-small-navigation ul.mobile-menu.toggled-on,.menu-toggle{display:block}#header #logo img{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}#header .site-title{font-size:1.4rem;margin:0}#wrap #header .menu a,#wrap #header .menu a:link,#wrap #header .menu a:visited,#wrap #header .menu-toggle,#wrap #header .menu-toggle:before,#wrap #header .site-title a{color:#333;color:rgba(0,0,0,.8)}#navigation{float:none;margin:60px 0 0;padding:0}.mobile-menu{margin:0;padding:0}.navigation-main ul.menu,.sf-sub-indicator{display:none}.menu{display:block}.menu-toggle{float:right;position:relative;font-size:1.4em;height:60px;margin:0;padding:0 24px;z-index:9}.menu-toggle:before{font-family:FontAwesome;content:' '}.mobile-menu ul.sub-menu{display:block!important;visibility:visible!important;left:auto;margin:0;padding:0}.mobile-menu li,.mobile-menu ul{list-style:none;margin:0;padding:0}.mobile-menu li{display:block;text-align:center;line-height:30px}.mobile-menu li li a:before{content:'- '}.mobile-menu li li li a:before{content:'-- '}.mobile-menu li li li li a:before{content:'--- '}.mobile-menu a{display:block;color:#333!important;font-size:.9rem;text-decoration:none;padding:6px 0;border-top:1px solid rgba(0,0,0,.1)}.mobile-menu a:hover{background:rgba(0,0,0,.04);color:#000!important;text-decoration:none}.content{padding:0 48px}.content.no-thumb{padding-top:0}.home-slider .slideshow .slides li{background-attachment:initial}.home-slider .slideshow .loading,.home-slider .slideshow .slides li{height:auto;min-height:600px}.home-slider .slideshow .content{padding:0 96px}.slideshow .information{margin-top:0}.slideshow .headline{font-size:2.2rem;letter-spacing:-1px;padding-bottom:0}.slideshow .headline.small{font-size:1.8rem}.slideshow .format-quote .text-holder{padding:24px}.slideshow .format-status .text-holder{padding:12px 24px}.slideshow .format-video .ten.columns{width:100%}.slideshow .format-video .feature-vid{margin-right:0}.flex-control-nav,.slideshow .format-link .excerpt,.slideshow .format-standard .excerpt,.slideshow .format-video .six.columns{display:none}.flex-direction-nav li a{margin-top:-24px}.archive-holder .article,.blog-holder .article{padding:18px 24px}.archive-holder .post-meta .align-left,.archive-holder .post-meta .align-right,.blog-holder .post-meta .align-left,.blog-holder .post-meta .align-right{float:none;display:block;text-align:center;margin:4px 0}.post-meta .align-left,.post-meta .align-right{max-width:none}.footer-content{text-align:center}.footer-content .align-left{float:none;display:block}.footer-content .align-right{float:none;display:block;text-align:center;margin-top:18px}}@media handheld,only screen and (max-width:960px){.home-slider .slideshow .loading,.home-slider .slideshow .slides li{min-height:480px}}@media handheld,only screen and (max-width:767px){body{font-size:.85rem;line-height:1.7}.title,h1,h2,h3,h4,h5,h6{line-height:1.2}p{padding:8px 0}h1{font-size:1.8rem}h2{font-size:1.6rem}h3{font-size:1.4rem}h4{font-size:1.2rem}h5{font-size:1.1rem}h6{font-size:1rem}.headline{font-size:2rem}.headline.small{font-size:1.6rem}.headline.img-headline{font-size:2rem}.title{font-size:1.1rem}blockquote{padding:12px 0;border-left:none}blockquote p{font-size:1.1rem;line-height:1.6}}@media only screen and (max-width:767px){.home-slider .slideshow .content,.slideshow .content{padding:0 48px}.sidebar.left,.slideshow .excerpt+br,.slideshow .format-audio .excerpt,.slideshow .more-link,.woocommerce #content table.cart .product-thumbnail,.woocommerce table.cart .product-thumbnail,.woocommerce-page #content table.cart .product-thumbnail,.woocommerce-page table.cart .product-thumbnail,i.format-icon{display:none}.row,body{min-width:0}#header .site-title{font-size:1.2rem}.home-slider .slideshow .loading,.home-slider .slideshow .slides li{min-height:360px}.slideshow .loading{min-height:180px}.slideshow .headline{font-size:2rem;letter-spacing:-1px}.slideshow .format-quote .text-holder{padding:0}.flex-direction-nav li a{font-size:16px;line-height:22px;height:24px;width:24px;margin:-12px 0 0}.flex-direction-nav .flex-next{right:12px;border-radius:24px}.flex-direction-nav .flex-prev{left:12px;border-radius:24px}.flex-direction-nav .flex-next i{margin-left:1px}.flex-direction-nav .flex-prev i{margin-right:1px}.featured-pages .holder{padding:24px 0}.featured-posts-wrap{margin-top:0;padding-bottom:12px}.featured-posts .headline{padding-top:36px;padding-bottom:0}.content{padding:0 24px}.postarea,.postarea.full,.postarea.middle,.postarea.wide{padding:24px 0}.archive-holder,.blog-holder{margin-bottom:24px}.archive-holder .article,.blog-holder .article{padding:12px 18px}.archive-holder .post-meta,.blog-holder .post-meta{padding:12px}.archive-holder .post-meta p,.blog-holder .post-meta p{font-size:.9em}.archive-column{width:100%;padding-right:0;overflow:hidden}.archive-column h6{margin-top:12px}.sidebar{padding:24px 0;border-top:1px solid rgba(0,0,0,.08)}.container form textarea{width:94%!important}#commentform textarea{width:95%!important}.footer-widgets{width:100%;margin:0;padding:0}.footer-widgets .widget{width:100%!important;margin:0;padding:0}.footer-widget{padding:12px 0}.woocommerce .cart-collaterals .cart_totals,.woocommerce .cart-collaterals .shipping_calculator,.woocommerce .col2-set .col-1,.woocommerce .col2-set .col-2,.woocommerce ul.products li.product,.woocommerce-page .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .shipping_calculator,.woocommerce-page .col2-set .col-1,.woocommerce-page .col2-set .col-2,.woocommerce-page ul.products li.product{width:100%!important}.row,.row .fourth,.row .half,.row .single,.row .third,body{width:100%}.container .woocommerce table.shop_table th,.container .woocommerce-page table.shop_table th{font-size:.8em;padding:4px}.container .woocommerce table.shop_table td,.container .woocommerce-page table.shop_table td{font-size:.7em;line-height:1.4;padding:4px}.woocommerce .cart .button,.woocommerce .cart input.button,.woocommerce-page .cart .button,.woocommerce-page .cart input.button{margin:2px}.row,body{margin-left:0}.column,.columns,.row,body{margin-right:0}body{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;padding-left:0;padding-right:0}.row{overflow:visible!important}.row .row .column,.row .row .columns{padding:0}.column,.columns{width:auto!important;float:none;margin-left:0}.column:last-child,.columns:last-child{margin-right:0;float:none}[class*=column]+[class*=column]:last-child{float:none}[class*=column]:after,[class*=column]:before{content:"";display:table}[class*=column]:after{clear:both}}@media only screen and (max-width:479px){.slideshow .headline{font-size:1.4rem;letter-spacing:0}.slideshow .text-holder{font-size:.8rem}.home-slider .slideshow .loading,.home-slider .slideshow .slides li{min-height:280px}}